.logged-header-container{
    background-color: #EDF1FC;
    width:100vw;
    height:4vh;
    display:flex;
    position:fixed;
    top:0%;
    flex-direction: row;
    justify-content: space-between;
}

.left-side, .right-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline:1%;
    gap:1.5vh;
}

.logged-header-container img{
    height:1.8vh;
    aspect-ratio: 1/1;
}

.logged-header-container span {
    white-space: nowrap;
}

.user-icon{
    height:3vh !important;
}

.logged-header-container span{
    font-size:18px;
}

.see-plans{
    flex-direction: row;
    display:flex;
    border:1px solid rgb(4, 121, 255);
    border-radius: 5px;
    padding:2%;
    justify-self: center;
    gap:10px;
    height:2vh;
}

.see-plans span{
    font-size: 15px;
    font-weight: 500;
    color:rgb(4, 121, 255);
    align-self: center;
}

.see-plans:hover{
    background-color: rgb(4, 121, 255);
    
}
.see-plans:hover .diamond{
    color:white;
}
.see-plans:hover span   {
    color:white;
}

.diamond{
    display:flex;
    align-self: center;
    color:rgb(4, 121, 255);
}
