.group-container .title{
    font-size:20px;
}

.group-container{
    margin-top:5vh;
}

.group-container .column-title{
    font-size: 15px;
    width:fit-content;
    min-width:5vw;
    text-align: center;
}

.group-container table{
    margin-top:1vh;
}
.group-container table td,
.group-container table th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    border-collapse: collapse; 
}

.group-container table {
    border-collapse: collapse;
}


.last{
    width: 1000vw;
    font-size: 20px;
}

.last span{
    display:flex;
    position: relative;
}

.new-column-view{
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    width:fit-content;
    display:flex;
    position: absolute;
    top:-5vh;
    left:2vw;
    flex-direction: column  ;
    padding:1%;
    gap:0.5vh;
}

.new-column-view .title{
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline;
}

.new-column-view button{
    background-color: rgb(4, 121, 255);
    color:white;
    font-size: 15px;
    padding:1%;
    border-radius: 5px;
    height:2vh;
    border:0.5px solid black;
}


.new-column-view .type{
    font-size: 15px;
    font-weight: 400;
    
}
.group-container input:hover{
    border: 1px solid black;
}
.group-container input{
    border: none;
}

.group-container ::placeholder{
    font-size: 15px;
}